* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    height: 80px;
    padding: 20px;
    background: rgba(2, 4, 17, 0.99);
    color: white;
    font-size: 27px;
    display: flex;
    justify-content: space-between;
}

body {
    background: lightgray;
}